/*Moving this to another directory*/
/*Im keeping this so I won't break something by accident*/
pre {
    display: block;
    font-family: Serif;
    white-space: normal;
    margin: 1em 0px;
}
button:disabled {
    font-family: Serif;
    cursor: not-allowed;
}
button {
    font-family: Serif;
    cursor: pointer;
}
.invisible {
    display: none;
}
/*.Visible is for an anti I accidentally break something meassure*/
.visible {
    display: block;
}
