pre {
    display: block;
    font-family: Serif;
    white-space: normal;
    margin: 1em 0px;
}
button:disabled {
    cursor: not-allowed;
}
button {
    cursor: pointer;
}
.invisible {
    display: none;
}
