/*ORILEYTAN'S SITE HALLOWEEN THEME*/
/*CREATED 10:47 AM 4/10/2024*/
/*ORILEYTAN*/
body {
background-image:url('/content/images/backgrounds/octoberbackground.bmp');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
/*Links and other stuff*/
a:link {
color: #FF8C00;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
a:visited {
color: #FF8C00;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
a:hover {
color: #FFF500;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
a:active {
color: #FFFFFF;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
#nottopbarurlthing {
color: #0000FF;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
#nottopbarurlthing:active {
color: #FFFFFF;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}
#nottopbarurlthing:hover {
color: #ADD8E6;
  font-family: Garamond, serif;
text-decoration: none;
  font-weight: bold;
}

a {
  text-shadow: -2px 2px 2px #000000;
}
p {
  text-shadow: -2px 2px 2px #000000;
}

/*website thing*/
.sitenavbar {
background-color: #808080;
}
.sitenavbutton:hover {
background-color: #B0B0B0;
}