/*ORILEYTAN'S SITE XMAS THEME*/
/*CREATED 4:38 PM 11/17/2023*/
/*ORILEYTAN*/
body {
background-image:url('/content/images/backgrounds/background2024.bmp');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
a:link {
color: #EE9300;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:visited {
color: #EE9300;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:hover {
color: #FFA500;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:active {
color: #FFA500;
font-family: "Comic Sans MS";
text-decoration: none;
}
.sitenavbar {
background-color: #FF3322;
}
.sitenavbutton:hover {
background-color: #33FF22;
}