/*ORILEYTAN'S SITE 90s INSTALLER THEME*/
/*CREATED 8:55 PM 2/25/2024*/
/*ORILEYTAN*/
body {
    background-image: url(/content/images/backgrounds/90sinstaller.png);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: contain;
}
a:link {
color: #CC6600;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:visited {
color: #CC6600;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:hover {
color: #FF9900;
font-family: "Comic Sans MS";
text-decoration: none;
}
a:active {
color: #FF9900;
font-family: "Comic Sans MS";
text-decoration: none;
}
.sitenavbar {
background-color: #808080;
}
.sitenavbutton:hover {
background-color: #B0B0B0;
}